@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Roboto:wght@300;400&display=swap');
:root {
  --main-bg-color: brown;

/* primary */

  --soft-red: hsl(7, 99%, 70%);
  --yellow:hsl(51, 100%, 49%);
  --dark-desaturated-cyan:  hsl(167, 40%, 24%);
  /* phototxt */
  --dark-blue: hsl(198, 62%, 26%);
  /* footer */
  --dark-moderate-cyan:  hsl(168, 34%, 41%);


/* Neutral */

 --very-dark-desaturated-blue: hsl(212, 27%, 19%);
--very-dark-grayish-blue: hsl(213, 9%, 39%);
--dark-grayish-blue: hsl(232, 10%, 55%);
--grayish-blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);

/* body */

--body-copy: 18px;

/* font */

/* --familyFont: [Barlow](https://fonts.google.com/specimen/Barlow) */

--weight: 600;

/* --familyFont2:[Fraunces](https://fonts.google.com/specimen/Fraunces) 

*/


--weights2: 700, 900;

}


*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

header{

position: relative;
  background-image: url('/images/image-header.jpg');
  width: 100%;
  height: 90vh;
background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  padding: 1rem;
  overflow: hidden;

}






.logo{

  font-weight: 900;
  font-size: min(1.5rem, 150px);
  color: var(--White);
  padding:0 18px
 

}


.title{

  width: 100%;
  color: var(--White);
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
text-align: center;
margin: 0 auto;
  top: 10rem;
  right: 18%
 

  
}

.gallery{

  display: flex;
  flex-wrap: wrap;
}

.pic1,.pic2,.pic3,.pic4{

  width: 50%;
 
}

.pic1{

  background-image: url('/images/image-gallery-milkbottles.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pic2{

  background-image: url('/images/image-gallery-orange.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pic3{

  background-image: url('/images/image-gallery-cone.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pic4{

  background-image: url('/images/image-gallery-sugarcubes.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.learnMore{

  border-bottom: 5px solid var(--yellow);
  border-radius: 5px;
}

.learnMore2{

  border-bottom: 5px solid var(--soft-red);
  border-radius: 5px;
}
  


.footer{

  background-color: hsl(166, 45%, 75%);
  width: 100%;

  text-align: center;
  padding: 2.5rem;
  
}

.footer p{

color: var( --dark-desaturated-cyan);
font-weight: 900;
font-size: 18px;
padding: 1rem;

}

.social{

  padding: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  color: var( --dark-desaturated-cyan);
}

.footerNav{

  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;

 
}

.footerNav li {

 
  list-style: none;
 

}

.footerNav li a{

  text-decoration: none;
  color: var(--dark-desaturated-cyan);
}



.testimonials{

  color: var(--dark-grayish-blue);
  text-align: center;
  padding: 1.5rem;
}

.testImg{

 border-radius: 50%;
}
.test1,.test2,.test3{

  text-align: center;
  padding: 2rem;
  color: var(--very-dark-grayish-blue);

}

.bold{

  padding: 2rem;
  font-weight: bold;
}

.bolder{

  padding: 1rem;
  font-weight: bolder;
  color: var(--very-dark-desaturated-blue);
}

.muted{

  color: var(--dark-grayish-blue)
} 



/* Mobile */

@media (max-width: 500px){

  /* Header section */



  .navList{
    display: flex;
    flex-direction: column;
      position: absolute;
      list-style: none;
      right: 100%;
      top: 10%;
      gap: .5rem;
      background-color: aliceblue;
      width: 90%;
      z-index: 999;
      opacity: 0;
      transition: 650ms ease-in-out;
     
    
    }

    .navList.open{

      right: 5%;
      opacity: 1;
    }
    
    
    .navList li a{
    
      text-decoration: none;
      display: flex;
      justify-content: center;
      font-weight: var(--weight);
      color: black;
      padding: 30px 0;

    
    }
    
    .btn1{
    
      width: 50%;
      padding: .5rem;
      font-weight: var(--weight);
      background-color: var(--yellow);
      border: none;
      border-radius: 2rem;
      margin: 1rem auto;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .menu, .close{

      background-color: transparent;
      border: 0;
      font-size: 1.5rem;
      position: absolute;
      right: 2rem;
      color: var(--White)
      
      }

  
/* 
      .title{

        width: 100%;
        color: var(--White);
        font-weight: 900;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: start;
        position: relative;
      text-align: center;
      margin: 0 auto;
        top: 10rem;
        right: 18%
       
      
        
      } */



      /* About section */

    .section1{

      width: 100%;
      display: flex;
    }

     .titleAbout, .titleStand{

      padding-bottom: 1.5rem;
      width: 65%;
      text-align: center;


    }

    .box1{

  
      display: flex;
      flex-direction: column;
      align-items: center;
     padding: 2rem;
     margin: 10% 0;
     flex: 1;
     order:2;
    } 


     .text1,.text2{

      margin-bottom: 20%;
      line-height: 1.5rem;
      text-align: center;
    }

    .box2{

      background-image: url('/images/image-transform.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 300px;
      flex:1;
      order: 1
    }

    /* standout  */

    .box3{

      
      background-image: url('/images/image-stand-out.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 300px;
      flex:1;
    }

    .box4{

      
      display: flex;
      flex-direction: column;
      align-items: center;
     padding: 2rem;
     margin: 10% 0;
     flex: 1;
     order:2;
    }

/* design */

  .skills{

    display: flex;
    flex-direction: column;
    color: var(--dark-desaturated-cyan);
 
    

  }

  .img1{

    
    height: 300px;
    background-image: url('/images/image-graphic-design.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .graph, .photo{
display: flex;
flex-direction: column;

margin: 1rem auto;
position: absolute;
left: 50%;
transform: translate(-50%);
bottom: 0;
width: 65%;
text-align: center;
  }

  .graph h3, .photo h3{

    padding: 1rem;

  }

 


  .img2{

    height: 300px;
    background-image: url('/images/image-photography.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  /* testimonials */
/* 
.testimonials{

  color: var(--dark-grayish-blue);
  text-align: center;
  padding: 1.5rem;
}

.testImg{

 border-radius: 50%;
}
.test1,.test2,.test3{

  text-align: center;
  padding: 2rem;
  color: var(--very-dark-grayish-blue);

}

.bold{

  padding: 2rem;
  font-weight: bold;
}

.bolder{

  padding: 1rem;
  font-weight: bolder;
  color: var(--very-dark-desaturated-blue) ;
}

.muted{

  color: var(--dark-grayish-blue)
} */




/* gallery */

.pic1,.pic2,.pic3,.pic4{

  width: 50%;
  height: 200px;
}

/* Footer */

 .footer{

  background-color: hsl(166, 45%, 75%);
  width: 100%;

  text-align: center;
  padding: 2.5rem;
  
}

.footer p{

color: var( --dark-desaturated-cyan);
font-weight: 900;
font-size: 18px;
padding: 1rem;

}

.social{

  padding: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  color: var( --dark-desaturated-cyan);
}

.footerNav{

  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;

 
}

.footerNav li {

 
  list-style: none;
 

}

.footerNav li a{

  text-decoration: none;
  color: var(--dark-desaturated-cyan);
} 

/* .learnMore{

  border-bottom: 5px solid var(--yellow);
  border-radius: 5px;
}

.learnMore2{

  border-bottom: 5px solid var(--soft-red);
  border-radius: 5px;
}
     */

}


/* Desktop */

@media (min-width: 600px){


  .menu, .close{

 display: none;
    
    }

    .navList{
      display: flex;
      flex-direction: row;
      
        align-items: center;
        list-style: none;
       position: absolute;
       right: 10%;
        gap: 1rem;
    
        
        z-index: 999;
       
      
      }

       
    .navList li a{
    
      text-decoration: none;
      display: flex;
      justify-content: right;
      font-weight: var(--weight);
      color: var(--White);
      padding: .5rem 0;
   
     

    
    }

    .pic1,.pic2,.pic3,.pic4{

  flex: 1;
      height: 500px;
    }

    .burgerMenu{

      display: none!important;
    }

    .btn1{
    
      width: 70%;
      padding: .1rem .3rem ;
      font-weight: var(--weight);
      background-color: var(--White);
      border: none;
      border-radius: 2rem;
      margin:  auto;
      padding: 0.5rem 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .title{

      width: 100%;
      color: var(--White);
      font-weight: 900;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: start;
      position: relative;
    text-align: center;
    margin: 0 auto;
      top: 10rem;
      right: 8%
    }

    .about{

      display: flex;
      flex-direction: row;
     


    }

    .titleAbout, .titleStand{

      padding-bottom: 1.5rem;
      width: 35%;
      text-align: center;
    
    
    }

    .standout{

      display: flex;
    }
    
    .box1{
    
    
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     padding: 3rem;
  
     order:1;
     width: 50%;
    }
    
    .text1,.text2{
    
      margin-bottom: 10%;
      line-height: 1.5rem;
      text-align: center;
    }
    
    .box2{
    
      background-image: url('/images/image-transform.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 50%;
      height: 500px;
   
      order: 2
    }

    .box3{

      
      background-image: url('/images/image-stand-out.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 50%;
      height: 500px;
     
    }

    .box4{

      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     padding: 2rem;
     width: 50%;
     
     order:2;
    }

/* design */

  .skills{

   width: 100%;
   display: flex;
    flex-direction: row;
    color: var(--dark-desaturated-cyan);
 
    

  }

  .img1{

    
    height: 500px;
    background-image: url('/images/image-graphic-design.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 50%;
  }

  .graph, .photo{
display: flex;
flex-direction: column;

margin: 1rem auto;
position: absolute;
left: 50%;
transform: translate(-50%);
bottom: 0;
width: 50%;
text-align: center;
  }

  .graph h3, .photo h3{

    padding: 1rem;

  }

 


  .img2{

    height: 500px;
    background-image: url('/images/image-photography.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width:50%;
  }

.photo h3{

  color: var()
}

.testimonials-Main{

  display: flex;
  flex-direction:
}
  




}